@font-face {
  font-family: "SunBatang-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SunBatang-Light";
  background-color: wheat;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: rgb(127, 161, 195);
  width: 80;
  margin: 0 auto;
}

.card {
  width: 200px;
  height: 240px;
  background-color: rgb(245, 199, 91);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
}
